<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zistus.core">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".MyApplication">
        <activity
            android:name=".ui.DeepLinkHandlerActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="microservice.app" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="microservice" />
            </intent-filter>

        </activity>
    </application>
</manifest>
